@model IEnumerable<intro_Address_CRUD_Exam.Models.Country>

	<div class="row">
		<div class=" col-xxl-12">
			<div class="card card-xxl-stretch mb-5 mb-xl-x1-8">
				<div class="card-header border-0 mb-xl-xl-8">
					<h3 class="card-title align-item-start flex-column">
						Ülke Listesi</h3>
				<div class="card-toolbar" data-bs-toogle="tooltip" data-bs-placement="top">
					<a asp-controller="Country" asp-action="Create" class="btn btn-light"><i class="fa fa-plus"></i> Yeni Ülke</a>
				</div>
				</div>
			<table class="table table-striped table-row-bordered gs-7 dt-init">
				<thead>
					<tr>
						<th>İşlemler</th>
						<th>@Html.DisplayNameFor(Model => Model.Descp)</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								<a asp-action="Edit" asp-route-id="@item.Id" data-toogle="tooltip" title="Düzenle"><i class="fa fa-text-height" aria-hidden="true"></i></a>
								<a asp-action="Detail" asp-route-id="@item.Id" data-toogle="tooltip" title="Detay Gör"><i class="fa fa-id-card" aria-hidden="true"></i></a>
								<a asp-action="Delete" asp-route-id="@item.Id" data-toogle="tooltip" title="Sil"><i class="fa fa-trash" aria-hidden="true"></i></a>
							</td>
							<td>@Html.DisplayFor(modelItem => item.Descp)</td>
						</tr>
					}
				</tbody>
			</table>
			</div>
		</div>
	</div>
